.places {
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    gap: 80px;
    padding-bottom: 92px;
}

@media screen and (max-width: 767px) {
    .places {
        gap: 50px;
        padding-bottom: 64px;
        max-width: 100%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .places {
        column-gap: 73px;
        padding-bottom: 90px;
    }
}