.lead__image-way {
    position: absolute;
    z-index: 2;
    max-width: 984px;
    bottom: 27.5%;
}

@media screen and (max-width: 767px) {
    .lead__image-way {
        max-width: 90vw;
        bottom: 24%;
    }
}

@media screen and (min-width: 767px)and (max-width: 1023px) {
    .lead__image-way {
        max-width: 691px;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
    .lead__image-way {
        max-width: 835px;
        bottom: 27%;
    }
}