.place__url-heading {
    margin: 0;
    padding-bottom: 12px;
    color: #AAA;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}